@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Al Curso</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button class="btn btn-success" id="btnPrueba">Click me!</button>

@section Scripts{
<script>
    $(document).ready(function () {
        
    });
</script>
}